[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
tomli = "*"
sqlalchemy-repr = "*"
psycopg2 = "*"
python-dateutil = "*"
python-telegram-bot = "*"
tweepy = "*"
requests = "*"
pixivpy = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
