[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
requests = "*"
python-magic = "*"
python-dotenv = "*"
tomli = "*"
sqlalchemy = "*"
tweepy = "*"
ffmpeg-python = "*"
psycopg2 = "*"
sqlalchemy-repr = "*"
alembic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
